<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXcpSvYuq4Vr8TKmeG2rPUi2XH8w6YZSs</string>
	<key>GCM_SENDER_ID</key>
	<string>726572409736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pravalgautam.W3DevAssignment</string>
	<key>PROJECT_ID</key>
	<string>w3dev-aff98</string>
	<key>STORAGE_BUCKET</key>
	<string>w3dev-aff98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726572409736:ios:29f9c841d1798c0021d03d</string>
</dict>
</plist>